<!-- views/partials/_footer.ejs -->

<div class="page-footer">
    <style>
      #footer {
        margin: 0;
        font-size: 8px;
        text-align: right;
      }
      </style>

    <p id="footer">No URL tiny enough</p>
  </div>