<!-- views/partials/_footer.ejs -->
<style>
  #footer {
    font-size: 8px;
    color: grey;
    padding: 5px;
    text-align: right;
  }
</style>
<footer id="footer">
  <p>No URL Tiny Enough.</p>
</footer>
