<!-- views/partials/_header.ejs -->
<div class="page-header">
  <style>
    h3 {
      background: #CDCDCD;
      padding: 2px;
      margin: 2px;
    }
    form {
      float: right;
      padding: 2px;
      margin: 2px;
      font-size: 16px;
    }
  </style>

<!--If user is logged in-->
  <% if(user) { %>
  <h3> <%= user.email %>
  </h3>
  <form id="logout" method="POST" action="/logout?_method=DELETE">
  <input type="submit" value="Logout">
</form>

  <% } else { %>
    <a href="/login"> Login</a>
    <a href="/register"> Register</a>
  <% } %>
</div>