<!-- views/partials/_header.ejs -->
<style>
#logout {
  float: right;
}
</style>
<!--If user is logged in-->
  <% if(user) { %>
    <header>
  <h3> <%= user.email %></h3>
</header>
  <form id="logout" method="POST" action="/logout">
  <input class="secondary small" type="submit" value="Logout">
</form>

  <% } else { %>
    <a href="/login"> Login</a>
    <a href="/register"> Register</a>
  <% } %>

