<!-- views/partials/_header.ejs -->
<div class="page-header">
  <style>
    ul {
      background: #CDCDCD;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 20px;
    }
    input[type=text] {
      height: 100%;
      border
    }
  </style>

  <ul>
    <li>TinyApp</li>


    <% if (!username) {%>
    <li>
    <!-- Login Form-->
    <form id="login" method='POST' action='/login'>
      <input type="text" name="username" placeholder="your username">
      <input type="submit" value="Log in">
    </form>
    </li>
  
    <% } else {%>
    <li>
    <!-- Logout-->
    <h5><%= username%> is logged in.</h5>
    <form id="logout" method='POST' action='/logout'>
      <input type="submit" value="Logout">
    </form>
    </li>
    <% } %>

</ul>

</div>