<!-- views/partials/_header.ejs -->
<div class="page-header">
  <style>
    h3 {
      background: #CDCDCD;
      padding: 2px;
      margin: 2px;
    }
    a {
      float: right;
      padding: 2px;
    }
  </style>

  <h3>TinyApp
  
    <a href="/login" id="header_links"> Login </a>
    <a href="/register" id="header_links">  Register  </a>
  </h3>
  

</div>