<!-- views/partials/_header.ejs -->
<style>
.right {
float: right;
padding: 2px;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
<div class="header-partial">
<!--If user is logged in-->
  <% if(user) { %>
    <form id="logout" method="POST" action="/logout?_method=DELETE">
      <legend>TinyApp</legend>
    <div class="input-group">
   <label><%= user.email %></label>
  <input class="secondary small" type="submit" value="Logout">
   </div>
</form>


  <% } else { %>
    <header>Welcome to TinyApp
    <a class="right" href="/login"> Login </a>
    <a class="right" href="/register">  Register  </a>
  <% } %>
    </header>
</div>