<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>URL Index</title>
  </head>
  <body>
    <% include ../partials/_header %>
    <h4>URLs in TinyApps</h4>
    <table>
      <th>Short URL</th>
      <th>Long URL</th>
      <th></th>
      <th></th>
    <% for(var item in urls) {%>
    <tr>
      <td><%= item%></td>
      <td><%= urls[item]%></td>
      <td>
        <a href="./urls/<%= item%>">Edit</a>
      </td>
      <td>
          <form method="POST" action="/urls/<%= item%>/delete">
            <input type="submit" value="Delete"> 
          </form>
      </td>
    <% } %>
    </table>
    
    <% include ../partials/_footer%>
  </body>
</html>