<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Lets see what this is.
  </title>
</head>
<body>
  <% include ../partials/_header %>

  <h4>
      Short URL: <%= shortURL %> <br> <br>
      Long URL:  <%= longURL%>
  </h4>

  <form method="POST" action="/urls/<%= shortURL%>">
    <input type="text" value="<%= longURL%>" name="updatedLongURL">
    <input type="submit" value="Update"> 
  </form>
  <% include ../partials/_footer%>
</body>
</html>