<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>URL Index</title>
  </head>
  <body>
      <% include ../partials/_header %>
    <p>
      <% for(var item in urls) {%>
      
      <p><%= item%>
      </p>
      
      <% } %>
      
    </p>
    
    <% include ../partials/_footer%>
  </body>
</html>