<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Lets see what this is.
  </title>
</head>
<body>
  <% include ../partials/_header %>

  <h4>
      Short URL: <%= shortURL %> 
  </h4>
  
  <form method="POST" action="/urls/<%= shortURL%>">
    <input type="text" value="<%= url.longURL%>" name="updatedLongURL">
    <input type="submit" value="Update"> 
  </form>


</body>
</html>