<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Tinify a new URL</title>
  <style>
    label, input {
      margin: 5px;
    }
    form {
      float: left;
    }
  </style>
</head>
<body>
  <% include ../partials/_header%>
  <form action="/urls?_method=PUT" method="POST" style="margin:30px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>