<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Lets see what this is.
  </title>
</head>
<body>
  <% include ../partials/_header %>

  <form method="POST" action="/urls/<%= shortURL%>/delete">
    <label><%= shortURL + ' : ' + longURL%></label>
    <input type="submit" value="Delete"> 
  </form>
  <% include ../partials/_footer%>
</body>
</html>