<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Login
  </title>
</head>
<body>
  

  <h4>
      Login to access TinyApp
  </h4>
    

    <!-- Login Form-->
    <form id="login" method='POST' action='/login?_method=PUT'>
      <input type="email" name="email" placeholder="you@email.com">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Log in">
    </form>
    
    <p>
      Not yet a user? <a href="/register">Sign up here!</a>
    </p>
  
  
  <% include ../partials/_footer%>
</body>
</html>